global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'flight-service'
    static_configs:
      - targets: ['flight-service:9000']
    metrics_path: '/metrics'
    scrape_interval: 10s
    scrape_timeout: 5s


  - job_name: 'postgres-exporter'
    static_configs:
      - targets: ['postgres-exporter:9187']
    metrics_path: '/metrics'
    scrape_interval: 15s
    scrape_timeout: 10s